{%extends 'appFive/base.html' %}
{% block body_block%}

<div class="jumbotron">
  <h1>Please login</h1>
  <form class="" action="{%url 'appFive:user_login' %}" method="post">
    {% csrf_token %}
    <!-- for any form, you need csrf  -->
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="passowrd">Password</label>
    <input type="password" name="password" >

    <input type="submit" name="" value="login">
  </form>
</div>

{%endblock%}
